### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [12]:
#Calculate the number of unique SN in the DataFrame
total_players = len(purchase_data["SN"].unique())

# Place all of the data found into a DataFrame
total_count = pd.DataFrame({"Total Players":[total_players]})
total_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Calculate the number of unique purchase_data in the DataFrame
number_of_unique_items = len((purchase_data["Item ID"]).unique())
# Finding the average price
average_price = (purchase_data["Price"]).mean()
# Finding how many purchases ID are
number_of_purchases = (purchase_data["Purchase ID"]).count()
# Finding the total price
total_revenue = (purchase_data["Price"]).sum()

# Place all of the data found into a summary DataFrame
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
# Using GroupBy in order to separate the data into fields according to "gender" values
gender = purchase_data.groupby(['Gender'])

# Count the total of "SN" by gender
total_gender = gender.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_gender / total_players * 100

# Create data frame 
gender = pd.DataFrame({"Total": total_gender,"Percentage of Players": percentage_of_players})


# Sort, and reset index
gender.sort_values(["Total"], ascending = False)

gender.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
# Create new data frame 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by "Item ID" and "Item Name" 
item = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with news values
items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order 
#popular_formatted = items.sort_values(["Purchase Count"], ascending=False).head()


popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [49]:
# Create bins in which to place values based upon group of names
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10","10-14","15-19", "20-24", "25-29", "30-34", "35-39","40+"]
# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
#purchase_data

# Create new data frame with the added "Age Group" and group it
#age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
#total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with new values
age = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})

age.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:

# Count the total purchases 
purchase_count_age = age_grouped["Purchase ID"].count()
# Calculate the average purchase
purchase_count_avg = age_grouped["Price"].mean()
# Calculate purchase total 
total_purchase_value = age_grouped["Price"].sum()

avg_purchase_total_per_person = total_purchase_value/purchase_count_age

# Create data frame with new values
age= pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": purchase_count_avg,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Purchase Total per Person": avg_purchase_total_per_person})

age.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
# Group purchase data 
value = purchase_data.groupby("SN")

#Count the total purchases 
purchase_count_value = value["Purchase ID"].count()

#Calculate the average purchase
avg_purchase_price_value = value["Price"].mean()

#Calculate purchase total 
purchase_total_value = value["Price"].sum()

#Create new data frame with new values
top_value = pd.DataFrame({"Purchase Count": purchase_count_value,
                             "Average Purchase Price": avg_purchase_price_value,
                             "Total Purchase Value":purchase_total_value})

values.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
# Create new data frame 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by "Item ID" and "Item Name" 
item= items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item["Price"].count()

# Calcualte the purchase value 
purchase_value = (item["Price"].sum()) 

item_price = purchase_value/purchase_count_item

# Create data frame with new values
popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_formatted = popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
#Sort by strongest total purchase and reset index

popular_formatted = popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})